{% extends '@particles/owlcarousel.html.twig' %}

{# Load Content From Joomla #}
{% set category_options = particle.jcategories ? {id: [particle.jcategories|split(','), 0]} : {} %}
{% set categories_finder = joomla.finder('category', category_options).published(1).language().find() %}
{% set article_finder = joomla.finder('content').category(categories_finder).published(1).featured(false).language() %}
{% set items = article_finder.order('publish_up', 'ASC').limit(particle.jarticles|default('1')).start(0).find() %}

{# Categories Names #}
{% set categories_names %}
    {%- for category in categories_finder -%}
        {{- category.title -}}
        {% if not loop.last %}{{ ', ' }}{% endif %}
    {%- endfor -%}
{% endset %}

{# NewsSlider Layout #}
{% block layout %}
    {% if particle.title %}<h3 class="g-title">{{ particle.title|raw }}</h3>{% endif %}
    <div class="{{ particle.class|e }} g-owlcarousel-layout-{{ particle.layout|e }} g-owlcarousel-{{ particle.displayitems }}-items">
        <div class="g-owlcarousel-panel-container" id="g-owlcarousel-panel-{{ id }}">

            {% for item in items %}
                <div class="g-owlcarousel-panel {% if loop.first %}selected{% endif %}" id="g-owlcarousel-panel-{{ loop.index }}">
                    <a href="#{{ id }}-{{ loop.index }}">
                        {% if particle.jtitle == 'enabled' and item.title %}<span class="g-owlcarousel-panel-title">{{ item.title|raw }}</span>{% endif %}
                    </a>
                </div>
            {% endfor %}

        </div>
        <div id="g-owlcarousel-{{ id }}" class="g-owlcarousel owl-carousel {{ particle.width|e }}">

            {% for item in items %}
                <div class="item" data-hash="{{ id }}-{{ loop.index }}">
                    {% if particle.jcategoriesnames == 'enabled' and categories_names %}<h3 class="g-title">{{ categories_names|e }}</h3>{% endif %}
                    {% if particle.jtitle == 'enabled' and item.title %}<h3 class="g-item-title">{{ item.title|raw }}</h3>{% endif %}
                    {% if particle.jauthor == 'enabled' and item.author.name %}
                        <div class="g-owlcarousel-author">
                            <span class="author-name">{{ item.author.name|e }}</span>
                        </div>
                    {% endif %}
                    <div class="g-owlcarousel-content">
                        {% if particle.jintroimage == 'enabled' and item.images.image_intro %}<img src="{{ url(item.images.image_intro)|e }}" alt="{{ item.title|e }}" />{% endif %}
                        {% if particle.jintrotext == 'enabled' and item.introtext %}{{ item.introtext|raw }}{% endif %}
                        {% if particle.jlink == 'enabled' and item.route %}
                            <a target="_self" class="g-owlcarousel-item-button button" href="{{ item.route|e }}">
                                {{ particle.jlinktext|raw }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}

{% block javascript_footer %}
    {{ parent() }}
    <script type="text/javascript">
        var owlPanelItems{{ id|replace({'-':'_'}) }} = jQuery('#g-owlcarousel-panel-{{ id }} .g-owlcarousel-panel');
        {% for item in items %}
        jQuery("#g-owlcarousel-panel-{{ id }} #g-owlcarousel-panel-{{ loop.index }}").click(function(event) {
            owlPanelItems{{ id|replace({'-':'_'}) }}.removeClass('selected');
            jQuery(this).addClass('selected');
        });
        {% endfor %}
    </script>
{% endblock %}
