{% extends '@particles/owlcarousel.html.twig' %}

{# Showcase Layout #}
{% block layout %}
    <div class="{{ particle.class|e }} g-owlcarousel-layout-{{ particle.layout|e }} g-owlcarousel-{{ particle.displayitems }}-items">
        {% if particle.title %}<h3 class="g-title">{{ particle.title|raw }}</h3>{% endif %}
        <div id="g-owlcarousel-{{ id }}" class="g-owlcarousel owl-carousel {{ particle.width|e }}">

            {% for item in particle.items %}
                <div class="item" data-hash="{{ id }}-{{ loop.index }}">
                    {% if item.icon %}<i class="{{ item.icon }}"></i>{% endif %}
                    {% if item.image %}<img src="{{ url(item.image)|e }}" alt="{{ item.title|e }}" />{% endif %}
                </div>
            {% endfor %}

        </div>
        <div class="g-container-wrapper-panel">
            <div class="g-owlcarousel-panel-container" id="g-owlcarousel-panel-{{ id }}">

                {% for item in particle.items %}
                    <div class="g-owlcarousel-panel {% if loop.first %}selected{% endif %}" id="g-owlcarousel-panel-{{ loop.index }}">
                        <a href="#{{ id }}-{{ loop.index }}">
                            {% if item.title %}<span class="g-owlcarousel-panel-title">{{ item.title|raw }}</span>{% endif %}
                            {% if item.subtitle %}<span class="g-owlcarousel-panel-subtitle">{{ item.subtitle|raw }}</span>{% endif %}
                            {% if item.desc %}<span class="g-owlcarousel-panel-desc">{{ item.desc|raw }}</span>{% endif %}
                        </a>
                    </div>
                {% endfor %}

            </div>
        </div>
        {% if particle.nav == 'enabled' %}
        <div id="g-owlcarousel-{{ id }}-controls" class="owl-controls">
            <div class="owl-nav">
                <div class="owl-prev" style=""><i class="fa fa-long-arrow-up" aria-hidden="true"></i></div>
                <div class="owl-next" style=""><i class="fa fa-long-arrow-down" aria-hidden="true"></i></div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascript_footer %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(window).load(function() {
            var owl{{ id|replace({'-':'_'}) }} = jQuery('#g-owlcarousel-{{ id }}');
            owl{{ id|replace({'-':'_'}) }}.on('changed.owl.carousel', function(event) {
                var currentItem = "#g-owlcarousel-panel-{{ id }} #g-owlcarousel-panel-" + (event.item.index + 1);
                jQuery(currentItem).trigger("click");
            })
            {% if particle.nav == 'enabled' %}
            jQuery('#g-owlcarousel-{{ id }}-controls .owl-next').click(function() {
                owl{{ id|replace({'-':'_'}) }}.trigger('next.owl.carousel');
            })
            jQuery('#g-owlcarousel-{{ id }}-controls .owl-prev').click(function() {
                owl{{ id|replace({'-':'_'}) }}.trigger('prev.owl.carousel');
            })
            {% endif %}
        });

        var owlPanelItems{{ id|replace({'-':'_'}) }} = jQuery('#g-owlcarousel-panel-{{ id }} .g-owlcarousel-panel');
        {% for item in particle.items %}
        jQuery("#g-owlcarousel-panel-{{ id }} #g-owlcarousel-panel-{{ loop.index }}").click(function(event) {
            owlPanelItems{{ id|replace({'-':'_'}) }}.removeClass('selected');
            jQuery(this).addClass('selected');
        });
        {% endfor %}
    </script>
{% endblock %}
