{% extends '@particles/owlcarousel.html.twig' %}

{# Load Content From Joomla #}
{% set category_options = particle.jcategories ? {id: [particle.jcategories|split(','), 0]} : {} %}
{% set categories_finder = joomla.finder('category', category_options).published(1).language().find() %}
{% set article_finder = joomla.finder('content').category(categories_finder).published(1).featured(false).language() %}
{% set items = article_finder.order('publish_up', 'ASC').limit(particle.jarticles|default('1')).start(0).find() %}

{# Categories Names #}
{% set categories_names %}
    {%- for category in categories_finder -%}
        {{- category.title -}}
        {% if not loop.last %}{{ ', ' }}{% endif %}
    {%- endfor -%}
{% endset %}

{# Showcase Layout #}
{% block layout %}
    <div class="{{ particle.class|e }} g-owlcarousel-layout-{{ particle.layout|e }} g-owlcarousel-{{ particle.displayitems }}-items">
        {% if particle.title %}<h3 class="g-title">{{ particle.title|raw }}</h3>{% endif %}
        <div id="g-owlcarousel-{{ id }}" class="g-owlcarousel owl-carousel {{ particle.width|e }}">

            {% for item in items %}
                <div class="item" data-hash="{{ id }}-{{ loop.index }}">
                    {% if particle.jintroimage == 'enabled' and item.images.image_intro %}
                        <img src="{{ url(item.images.image_intro)|e }}" alt="{{ item.title|e }}" />
                    {% endif %}
                </div>
            {% endfor %}

        </div>
        <div class="g-container-wrapper-panel">
            <div class="g-owlcarousel-panel-container" id="g-owlcarousel-panel-{{ id }}">

                {% for item in items %}
                    <div class="g-owlcarousel-panel {% if loop.first %}selected{% endif %}" id="g-owlcarousel-panel-{{ loop.index }}">
                        <a href="#{{ id }}-{{ loop.index }}">
                            {% if particle.jtitle == 'enabled' and item.title %}<span class="g-owlcarousel-panel-title">{{ item.title|raw }}</span>{% endif %}
                            {% if particle.jcategoriesnames == 'enabled' and categories_names %}<span class="g-owlcarousel-panel-subtitle">{{ categories_names|e }}</span>{% endif %}
                            {% if particle.jintrotext == 'enabled' and item.introtext %}<span class="g-owlcarousel-panel-desc">{{ item.introtext|raw }}</span>{% endif %}
                        </a>
                    </div>
                {% endfor %}

            </div>
        </div>
        {% if particle.nav == 'enabled' %}
        <div id="g-owlcarousel-{{ id }}-controls" class="owl-controls">
            <div class="owl-nav">
                <div class="owl-prev" style=""><i class="fa fa-long-arrow-up" aria-hidden="true"></i></div>
                <div class="owl-next" style=""><i class="fa fa-long-arrow-down" aria-hidden="true"></i></div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascript_footer %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(window).load(function() {
            var owl{{ id|replace({'-':'_'}) }} = jQuery('#g-owlcarousel-{{ id }}');
            owl{{ id|replace({'-':'_'}) }}.on('changed.owl.carousel', function(event) {
                var currentItem = "#g-owlcarousel-panel-{{ id }} #g-owlcarousel-panel-" + (event.item.index + 1);
                jQuery(currentItem).trigger("click");
            })
            {% if particle.nav == 'enabled' %}
            jQuery('#g-owlcarousel-{{ id }}-controls .owl-next').click(function() {
                owl{{ id|replace({'-':'_'}) }}.trigger('next.owl.carousel');
            })
            jQuery('#g-owlcarousel-{{ id }}-controls .owl-prev').click(function() {
                owl{{ id|replace({'-':'_'}) }}.trigger('prev.owl.carousel');
            })
            {% endif %}
        });

        var owlPanelItems{{ id|replace({'-':'_'}) }} = jQuery('#g-owlcarousel-panel-{{ id }} .g-owlcarousel-panel');
        {% for item in items %}
        jQuery("#g-owlcarousel-panel-{{ id }} #g-owlcarousel-panel-{{ loop.index }}").click(function(event) {
            owlPanelItems{{ id|replace({'-':'_'}) }}.removeClass('selected');
            jQuery(this).addClass('selected');
        });
        {% endfor %}
    </script>
{% endblock %}
