{% extends '@particles/owlcarousel.html.twig' %}

{# Standard Layout #}
{% block layout %}
    <div class="{{ particle.class|e }} g-owlcarousel-layout-{{ particle.layout|e }} g-owlcarousel-{{ particle.displayitems }}-items">
        {% if particle.title or particle.description %}
        <div class="g-grid">
            <div class="g-block">
                <div class="g-content g-owlcarousel-header">
                    {% if particle.title %}<h2 class="g-title">{{ particle.title|raw }}</h2>{% endif %}
                    {% if particle.description %}<div class="g-owlcarousel-description">{{ particle.description|raw }}</div>{% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        <div id="g-owlcarousel-{{ id }}" class="g-owlcarousel owl-carousel {{ particle.width|e }}">

            {% for item in particle.items %}
                <div>
                    {% if item.image %}
                        <div class="image">
                            <img src="{{ url(item.image)|e }}" alt="{{ item.title|e }}" />
                        </div>
                    {% endif %}

                    {% if item.subtitle or item.title or item.desc or item.link or item.author %}
                        <div class="g-owlcarousel-content">
                            {% if item.subtitle %}<span class="g-owlcarousel-item-subtitle">{{ item.subtitle|raw }}</span>{% endif %}
                            {% if item.title %}<div class="g-owlcarousel-item-title">{{ item.title|raw }}</div>{% endif %}
                            {% if item.desc %}<div class="g-owlcarousel-item-desc">{{ item.desc|raw }}</div>{% endif %}

                            {% if item.link %}
                                <div class="g-owlcarousel-item-link">
                                    <a target="{{ item.buttontarget|default('_self')|e }}" class="g-owlcarousel-item-button button {{ item.buttonclass|e }}" href="{{ item.link|e }}">
                                        {{ item.linktext|raw }}
                                    </a>
                                </div>
                            {% endif %}

                            {% if item.author %}
                                <div class="g-owlcarousel-author">
                                    {% if item.authorimage %}
                                        <span class="author-image">
                                    <img src="{{ url(item.authorimage)|e }}" alt="{{ item.author|e }}" />
                                </span>
                                    {% endif %}
                                    {% if item.author %}<span class="author-name">{{ item.author|e }}</span>{% endif %}
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
